*,
*::before,
*::after
 {
  box-sizing: border-box;
}

body,
h1,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}

li {
  list-style: none;
}



a {
  text-decoration: none;

}

